/* Styles common to all pages on the website */

:root {
    /* CSS properties ("variables") are used to encourage
    declarative programming and maintainability. MDN Reference:
    https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
    */
    --primary-red: #BE1622;
    --primary-blue: #007FB0;
    --primary-grey: #34516C;

    --forest: #006250;

    --navbar-height: 85px;
}

body {
    font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
    min-height: 100vh;
    margin: 0;

    position: relative;
}

/* 
  Navigation Bar Styles
*/

/* Clearfix offsets the content below the floating navbar */
.navbar-clearfix {
    height: var(--navbar-height);
    width: 100%;
}

.navbar {
    background-color: var(--primary-blue);
    color: white;
    font-weight: 600;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: 1px;

    display: table;

    /* Ensure navbar is always visible over other elements.
    MDN Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/z-index */
    z-index: 9999;
}

.navbar table {
    width: 100%;
}

.navbar-col {
    width: 33.33%;
    display: table-cell;
}

/* The important keyword allows us to override other styles.
This is used several times below. MDN Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/important */
/* .nav-section-main {
    width: 60%!important;
} */

.navigation-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-logo {
    font-weight: 400;
    font-size: 24px;
    padding: 4px 24px!important;
}

.nav-logo a {
    color: inherit;
    text-decoration: none;
}

.nav-login {
    padding: 4px 24px !important;
    text-align: right;
}

.nav-login a {
    color: inherit;
    text-decoration: none;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 14px 24px;
}

/* Underline slide effect on hover

Animates the width of the CSS ::after pseudo-element on links
in the Navigation Bar. Styles change when the :hover pseudo-class
is activated (i.e. the cursor is over the element). MDN References:
https://developer.mozilla.org/en-US/docs/Web/CSS/::after
https://developer.mozilla.org/en-US/docs/Web/CSS/transition
https://developer.mozilla.org/en-US/docs/Web/CSS/:hover
*/

.nav-link::after {
    content: "";
    border-bottom: 2px solid white;

    display: block;
    position: relative;
    bottom: 0;
    left:0;
    width: 0;

    transition: width 0.25s;
}

.nav-link:hover::after {
    width: 100%;
}

/* Underline is always present if the link is "selected" */
.nav-link.selected::after {
    transition: none;
    width: 100%;
}

/* Presets for CSS layouts. The CSS "table" layout system is used
for large level layouts, and the "flexbox" system is used for widgets
and smaller items. MDN Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/display */

.row {
    display: table;
}

.col-33 {
    width: 33.33%;
    float: left;
}

.col-40 {
    width: 40%;
    float: left;
}

.col-60 {
    width: 60%;
    float: left;
}

/* This is used to create a container where the
content is horizontally centered */
.flex-content-center {
    display: flex;
    justify-content: center;
}

/* 
  Breadcrumb Styles
*/

.breadcrumbs {
    font-size: 24px;
    font-weight: 600;
    padding-left: 20px;

    /* Prevents the user from highlighting the breadcrumb text.
    Includes compatibility for safari browsers. MDN Reference:
    https://developer.mozilla.org/en-US/docs/Web/CSS/user-select */
    user-select: none;
    --webkit-user-select: none;
}

.breadcrumbs a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

/* 
  Footer Styles
*/

footer {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: var(--primary-grey);
    color: white;

    height: 120px;
    padding-left: 30px;
}

footer img {
    width: 200px;
}

/* 
  Responsive Styles
*/
@media (max-width: 1024px) {
    [class*="col-"] {
      width: 100%;
    }

    .breadcrumbs {
        font-size: 12px;
    }

    .hidden-sm {
        display: none;
    }

    :root {
        --navbar-height: 55px
    }
}