/* Import common styles. MDN Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/@import */
@import url(common.css);

/* 
  Top introduction section
*/

.intro-section {
    max-width: 1200px;
    margin: auto;
}

.intro-card {
    font-size: 20px;

    background-color: var(--primary-grey);
    border-radius: 30px;
    color: white;
    padding: 40px;

    width: 90%;
    margin: 10px;
}

.intro-card button {
    background-color: var(--primary-red);
    color: white!important;

    border: none;
    border-radius: 10px;

    padding: 10px 40px;
    font-size: 20px;

    margin-top: 20px;
    width: 100%;

    cursor: pointer;
}

.intro-video {
    border-radius: 30px;
    width: 100%;
}

/* 
  Bottom information section
*/

.info-section {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 150px;
}

.info-section h2 {
    font-weight: 500;
    font-size: 40px;
}

.info-section h3 {
    font-weight: 300;
    letter-spacing: 1px;
}

.info-section a {
    color: var(--primary-blue);
}

.info-section iframe {
    width: 50%;
    height: 300px;
}

/* 
  Offers
*/

.offer-card {
    background-color: #d5d5d5;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}

/* 
  Responsive Styles
*/

@media (max-width: 1024px) {
    .info-section iframe {
        width: 100%;
        height: 300px;
    }
}