/* Import common styles. MDN Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/@import */
@import url(common.css);

/* 
  Page container
*/

.item-content-container {
    max-width: 1024px;
    margin: auto;
    padding-bottom: 150px;
}

/* 
  Item attributes
*/

#item-img {
    max-width: 75%;
    border: 2px black solid;
    border-radius: 20px;
}

#item-title {
    font-size: 32px;
    margin-bottom: 0;
}

#item-price {
    font-size: 24px;
    font-weight: 600;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

#item-desc {
    font-size: 16px;
}

/* 
  Add to Basket Button
*/

#item-cart-button {
    background-color: var(--primary-red);
    color: white!important;

    border: none;
    border-radius: 10px;

    padding: 10px 40px;
    font-size: 16px;

    cursor: pointer;
}

#item-cart-button.added {
    background-color: var(--forest);
}

/* 
  Review Form
*/

.text-field {
    width: 80%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-family: inherit;
}

.form-label {
    font-weight: 500;
}

.form-submit {
    background-color: var(--primary-red);
    color: white;

    border: none;
    border-radius: 10px;

    padding: 10px 40px;
    font-size: 16px;

    margin-top: 10px;
    width: 80%;

    cursor: pointer;
}

.blurred {
    filter: blur(4px);
    pointer-events: none;
    user-select: none;
}

/* 
  Responsive Styles
*/
@media (max-width: 1024px) {
    #item-img {
        max-width: 98%;
    }

    #item-desc {
        text-align: center;
    }

    #item-price {
        text-align: center;
    }

    #item-title {
        text-align: center;
    }

    #item-cart-button {
        width: 100%;
    }
}
