/* Import common styles. MDN Reference:
https://developer.mozilla.org/en-US/docs/Web/CSS/@import */
@import url(common.css);

/* 
  Quick navigation menu at top of page
*/

.quick-navigation-section {
    width: 100%;
    background-color: rgb(57, 57, 57);
}

.quick-navigation-section .col-33 {
    /* Allows us to calculate position of text relative to image,
    MDN Reference: https://developer.mozilla.org/en-US/docs/Web/CSS/position */
    position: relative;
}

.quick-navigation-section h2 {
    /* Horizontally and vertically center text within parent */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);

    color: white;
    font-size: 32px;
}

.quick-navigation-section .col-33 {
    height: 250px;
    transition: background-size 0.25s;
}

/* Add a hover effect for improved UX */
.quick-navigation-section .col-33:hover {
    background-size: 110%;
}

/* 
  Image backgrounds for quick navigation menu
*/

/* The URLs here are encoded to prevent the brackets from interpreted as
CSS. W3 Reference: https://www.w3schools.com/tags/ref_urlencode.ASP */
.hoodie-bg {
    background-image: url("../assets/images/items/hoodies/hoodie %281%29.jpg");
    background-size: 100%;
    background-position: center;
}

.jumper-bg {
    background-image: url("../assets/images/items/jumpers/jumper %281%29.jpg");
    background-size: 100%;
    background-position: center;
}

.tshirt-bg {
    background-image: url("../assets/images/items/tshirts/tshirt %281%29.jpg");
    background-size: 100%;
    background-position: center;
}

/* 
  Main page container, inc. all products
*/

.product-section {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 150px;
}

.product-section a {
    color: var(--primary-blue);
}

.product-section h2 {
    font-weight: 500;
    font-size: 40px;
}

.product-row {
    max-width: 1024px;
    margin: auto;
}

.product {
    border: 2px black solid;
    border-radius: 20px;

    height: min-content;
    margin: 8px;
    padding: 4px;

    color: black;
    
    transition: scale 0.25s;
}

/* Slightly enlarge the product on mouse hover. MDN Ref:
https://developer.mozilla.org/en-US/docs/Web/CSS/scale */
.product:hover {
    scale: 101%;
}

.product img {
    padding: 5px;
    width: 70%;
}

/*
  Search design
*/

.search-section {
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}

.search-bar {
    border: 0;
    border-bottom: 1px solid black;

    font-size: 1.5em;
    font-weight: 400;

    padding: 10px;
    width: 30%;
}

.search-bar:focus {
    outline: 0;
}

.search-submit {
    background-color: #cacaca;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1.5em;
}

/* 
  Responsive design
*/

@media (max-width: 1024px) {
    .product-row {
        width: 100%;
    }
}
